* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://assets.nflxext.com/ffe/siteui/vlv3/ac824598-245b-4828-b14f-5cff9074f4d0/21bb26e2-15da-4814-9014-3f4a913250de/BR-pt-20220822-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

header {
    padding: 20px 40px 0 40px;

}

.logo {
    width: 13.2%;
}

.botoes-direita {
    float: right;
}

.idioma {
    display: inline-block;
}


option {
    background-color: rgba(0, 0, 0, 0.8);
}

.botoes-idioma {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    color: white;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../img/expandir.png);
    background-repeat: no-repeat;
    background-position: calc(95%)center;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    padding-right: 30px;
    border-radius: 2px;
    margin-right: 30px;
}

.botao-entrar {
    background-color: #F40612;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

main {
    text-align: center;
    color: white;
    margin-top: 100px;
}

.titulo {
    font-size: 50px;
    margin-bottom: 20px;
}

.sub-titulo {
    font-size: 25px;
    margin-bottom: 20px;
}

.texto {
    font-size: 18px;
    margin-bottom: 20px;
}

.form-email {
    display: inline-block;
    margin-bottom: 154px;
}

.email {
    width: 500px;
    padding: 20px 0 20px 10px;
    color: rgb(88, 88, 88);
    font-size: 15px;
}

.botao-vamos-lá {
    background-color: #F40612;
    padding: 17px 20px 20px 20px;
    padding-right: 25px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    background-image: url(../img/seta.png);
    background-repeat: no-repeat;
    background-position: calc(95%) center;
}

@media screen and (max-width:1000px) {
    .logo {
        width: 20vw;
    }
}

@media screen and (max-width:800px) {
    .botoes-idioma {
        font-size: 2vw;
    }

    .botao-entrar {
        font-size: 2vw;
    }

    .titulo {
        font-size: 5vw;
    }

    .sub-titulo {
        font-size: 3vw;
    }

    .texto {
        font-size: 2.2vw;
    }

    .email {
        width: 55vw;
        font-size: 2vw;
    }

    .botao-vamos-lá {
        font-size: 2.5vw;
        padding: 18px 20px 20px 20px;
        padding-right: 25px;
        background-position: calc(95%) center;
    }
}

@media screen and (max-width:690px) {
    .logo {
        width: 30vw;
    }

    .botoes-idioma {
        font-size: 3vw;
        padding: 2vw;
        padding-right: 30px;
        margin-right: 10px;
    }

    .botao-entrar {
        font-size: 3vw;
        padding: 2vw;
        border-radius: 0px;
    }

    .titulo {
        font-size: 6vw;
    }

    .sub-titulo {
        font-size: 4vw;
    }

    .texto {
        font-size: 2.5vw;
    }

    .form-email {
        display: block;
        margin-bottom: 10px;
    }

    .email {
        font-size: 2.5vw;
        padding: 3vw 2vw;
    }

    .botao-vamos-lá {
        font-size: 4vw;
        padding: 2vw 3vw;
        padding-right: 30px;
        margin-bottom: 170px;
        border-radius: 0;
        background-position: calc(95%) calc(54%);
    }
}

@media screen and (max-width:480px) {

    header,
    main {
        padding: 20px;
    }

    .texto {
        font-size: 3.5vw;
    }

    .email {
        width: 70vw;
        font-size: 4vw;
        padding: 3vw 2vw;
    }

    .botao-vamos-lá {
        font-size: 5vw;
        padding: 4vw;
        padding-right: 25px;
        background-position: calc(95%) center;
        border-radius: 2px;
    }
}